
*{
	font-family: 'microsoft yahei';

}

body{
	overflow-y:hidden;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	color: #fff;
}

h1{
	font-size: 35px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

.blur{
	filter:blur(5px) brightness(1.1);
	-webkit-filter:blur(5px) brightness(1.1);
}

#js_mTxt{
	margin: auto 0;
	text-align:center;
}

.music{
	text-align:center;
	font-size: 60px;
	color: #fff;
	margin: auto 0;
}

.header,.footer,.content,.contentBg{
	position:absolute;
}


.header{
	top:-10px;
}

.footer{
}

.profileBg{
	background-color:rgba(0, 0, 0, 0.1);
}

.contentBg{
	z-index:1;
}
/*
.profileBg{
	filter:blur(5px);
	-webkit-filter:blur(5px);
}*/

.avatar>img{
	display:block;
	margin:0 auto;
	border-radius:50%;
}